.benefits--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.title {
  text-align: center;
}

.subtitle {
  margin-top: 2rem;
  text-align: center;
}
