.section {
  margin-top: 9rem;
}

.inlinePromo--container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(173deg, #272727 0%, #11101d 100%);
  border-radius: 10px;
  justify-content: center;
}

.inlinePromo--p {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 12px;
}

.discount {
  position: relative;
  top: -0.125rem;
  margin-right: 0.5rem;
}

.inlinePromo--highlight {
  color: var(--color-white);
}

.hero--leftHero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

.hero--InlineCTA {
  --lbCircleDiameter: 100px;
  position: relative;
}

.hero--title {
  margin-top: 2rem;
  margin-bottom: 11rem;
  font-size: 72px;
  color: var(--color-white);
  text-align: center;
}

.hero__title--lbGradient {
  margin-top: 0px;
  font-size: 72px;
  background: linear-gradient(45deg, #33bbcf -40%, #def9fa 80%);
}

.hero--borderColor {
  margin-bottom: 2rem;
  width: var(--lbCircleDiameter);
  height: var(--lbCircleDiameter);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  left: 50%;
  margin-left: calc((var(--lbCircleDiameter) / 2) * -1);
  background: linear-gradient(176deg, #def9fa, #33bbcf);
  padding: 3px;
  bottom: 0.5%;
}

.hero--lbCircle {
  font-size: 18px;
  background-color: var(--color-darkBlueBg);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50%;
  width: var(--lbCircleDiameter);
  height: var(--lbCircleDiameter);
}

.hero--lbCircle::before {
  float: left;
  width: auto;
  padding-bottom: 100%;
}

.hero--lbCircle:hover {
  cursor: pointer;
}

.hero__lbCircle--p {
  font-size: 18px;
  position: relative;
  top: -8px;
  background: linear-gradient(176deg, #def9fa, #33bbcf);
}

.hero__lbCircle--arrow {
  width: 19px;
  position: relative;
  top: 3px;
}

.hero--openingP {
  margin-bottom: 4rem;
  text-align: center;
  width: 80%;
}

.hero--rightHero {
  display: flex;
  justify-content: center;
}

.hero--img {
  width: 100%;
  max-width: 600px;
}

.hero--socialProof {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--proofHighlight {
  font-size: 40px;
  color: var(--color-white);
  text-transform: uppercase;
}

.hero--prooflbGradient {
  font-size: 20px;
  background: linear-gradient(45deg, #33bbcf -40%, #def9fa 80%);
  text-transform: uppercase;
  position: relative;
  top: -0.5rem;
}

@media screen and (min-width: 768px) {
  .hero--lbCircle {
    width: var(--lbCircleDiameter);
    height: var(--lbCircleDiameter);
  }

  .hero--borderColor {
    width: var(--lbCircleDiameter);
    height: var(--lbCircleDiameter);
  }

  .hero--title {
    margin-bottom: 14rem;
  }

  .hero--InlineCTA {
    --lbCircleDiameter: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .hero--title {
    text-align: left;
    margin-bottom: 2rem;
  }

  .hero--borderColor {
    left: 83%;
    top: 14%;
  }

  .hero--openingP {
    width: 100%;
  }

  .hero--proofHighlight {
    display: flex;
    flex-direction: column;
  }
  .hero--socialProof {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .hero--Divider {
    display: flex;
  }

  .hero--leftHero {
    align-items: start;
    flex: 1;
  }

  .hero--borderColor {
    left: 97%;
  }

  .hero--rightHero {
    align-items: start;
    justify-content: end;
    flex: 1;
  }

  .hero--img {
    max-width: 550px;
  }

  .hero--openingP {
    text-align: left;
  }
}

@media screen and (min-width: 1537px) {
  .hero--borderColor {
    left: 83%;
  }
}
